<p style="color: green"><%= notice %></p>

<p><%= link_to "Browse by inventory", cars_path %></p>

<h1>Dealerships</h1>

<div id="dealerships">
  <ul>
  <% @dealerships.each do |dealership| %>
    <p>
      <li><%= link_to dealership.name, dealership %></li>
    </p>
  <% end %>
  </ul>
</div>

<% if current_user.admin? %>
  <%= link_to "New dealership", new_dealership_path %>
<% end %>
